<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Retrofit4.Retrofit4Activity"
            android:exported="false" />
        <activity
            android:name=".Retrofit3.Retrofit3Activity"
            android:exported="false" />
        <activity
            android:name=".Retrofit2.Retrofit2Activity"
            android:exported="false" />
        <activity
            android:name=".Retrofit1Activity"
            android:exported="false" />
    </application>

</manifest>