<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".demo1.Room1Activity"
            android:exported="false" />
        <activity
            android:name=".demo0.AddTodoActivity"
            android:exported="false" />
        <activity
            android:name=".demo0.Room0Activity"
            android:exported="false" />
    </application>

</manifest>