<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".dragrecyclerview.DragRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".badgedrawable.BadgeDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".shapeable_imageview.ShapeableImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".materialbutton.MaterialButtonActivity"
            android:exported="false" />
        <activity
            android:name=".bottomsheet.BottomSheetActivity"
            android:exported="false" />
        <activity
            android:name=".drawer_layout.DrawerLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".tablayout_customview.TabLayoutCustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".searchview.SearchViewActivity"
            android:exported="false" />
        <activity
            android:name=".text_input_layout.TextInputLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".collapsing_toolbar.TabViewPagerScrollActivity"
            android:exported="false" />
        <activity
            android:name=".collapsing_toolbar.CollapsingToolbarActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_navigation.BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".cardview.CardViewActivity"
            android:exported="false" />
        <activity
            android:name=".tab_layout.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".snackbar.SnackbarActivity"
            android:exported="false" />
        <activity
            android:name=".swipe_refresh_layout.SwipeRefreshLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".UIDemoActivity"
            android:exported="false" />
    </application>

</manifest>