<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".snackbar.SnackbarActivity"
            android:exported="false" />
        <activity
            android:name=".swipe_refresh_layout.SwipeRefreshLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".UIDemoActivity"
            android:exported="false" />
    </application>

</manifest>