<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".codelab.basic_state_codelab.BasicStateCodelabMainActivity"
            android:exported="false" />
        <activity
            android:name=".codelab.animation_codelab.AnimationCodelabMainActivity"
            android:exported="false" />
        <activity
            android:name=".codelab.animation_codelab.AnimationCodelabMainActivity"
            android:exported="false" />
        <activity
            android:name=".ComposeMainActivity"
            android:exported="false" />
    </application>

</manifest>