<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <activity
            android:name=".demo2.WorkManager2Activity"
            android:exported="false" />
        <activity
            android:name=".demo1.WorkManager1Activity"
            android:exported="false" />
        <activity
            android:name=".demo0.WorkManager0Activity"
            android:exported="false" />
        <activity
            android:name=".WorkManagerMainActivity"
            android:exported="false" />
    </application>

</manifest>