<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <activity
            android:name=".demo0.ServiceDemo0Activity"
            android:exported="false" />
        <activity
            android:name=".ServiceMainActivity"
            android:exported="false" />

        <service
            android:name=".demo0.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"/>

    </application>



</manifest>